<!DOCTYPE html>
<html lang="de" class="no-js">
  <head>
    <!-- Version 9 -->
    <meta charset="utf-8">
    <title>Strongs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="{{ STATIC_URL }}images/iPhone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/icon_iPhone5.png">

    <!-- Loading Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <!--<link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/bible.css" rel="stylesheet">


	<!-- MATTHIAS: Laden der Modernizr-Bibliothek. Muss im HEAD passieren -->
	<script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}css/tooltip.css" rel="stylesheet">

    <!-- editor requirements -->
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.notebook.css">

    {% block head %}
    {% endblock %}
  </head>
  <body>
  <!--
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="hidden-xs navbar-header">
        <!- -<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
          <span class="sr-only">Toggle navigation</span>
        </button>- ->
        <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}images/logo.png" width="175" /></a>
      </div>
      <div class="navbar-collapse">
        <form class="navbar-form navbar-left" id="searchform" action="#" role="search" style="width: 250px">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" id="searchId" type="search" value="{{search}}" placeholder="Suchen (Bibelstelle oder Strong-Nummer)">
              <span class="input-group-btn">
                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        </form>
          <div class="btn-group navbar-left">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
          </div>
      </div>
    </nav>-->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header hidden-xs">
          <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}images/logo.png" width="175" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
          <form name="searchform" class="navbar-form navbar-left" id="searchform" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="searchId" type="search" value="{{search}}" placeholder="Suchen (Bibelstelle oder Strong-Nummer)">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li><a href="#" id='prev_chapter'><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            {%if pagecnt > 0 %}<li><a style="height:50px">{% block pagenum %}{% endblock %}</a></li>{% endif %}
            <li><a href="#" id='next_chapter'><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            <li>{% if user.is_authenticated %}<a href='/accounts/logout/'>Logout {{user.username}}</a> {% else %} <a href='/accounts/login/'>Login</a> {% endif %}</li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="container-full" class="container-full">
        <div class="col-md-3 sb-button" id="sb-button"></div> <!-- MATTHIAS: Button (rechts oben) für die SideBar -->
		<nav id="sb-menu" class="sb-menu"></nav> <!-- MATTHIAS: NAV Container für die SideBar. Sollte in einzelne Bereich (divs) unterteilt werden -->

        {% block editor %}
        {% endblock %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>





    </div>
    <!-- <abbr rel="tooltip" title="This is a demo of article called &lt;em&gt;CSS and jQuery Tooltip: Responsive, Mobile-Friendly&lt;/em&gt;.">Demo-Tooltip</abbr> -->
    <!-- <br/><br/><br/><br/><br/> -->
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="{{ STATIC_URL }}js/jquery-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-switch.js"></script>
    <!--<script src="{{ STATIC_URL }}js/flatui-checkbox.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/flatui-radio.js"></script>-->
    <script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}js/tooltip.js"></script>
    <!-- For Autocomplete staff ... -->
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <!-- ... for Autocomplete staff -->
    <script src="{{ STATIC_URL }}js/sidebarEffects.js"></script>
  <script src="{{ STATIC_URL }}js/autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.notebook.js"></script>
    <script>
        function doSearch() {
            var path = '/' + $('#searchId').val();
            location.href=path;
        }
        $('#searchform').submit(function(e) {
            doSearch();
            e.preventDefault();
        });

        function navigate(forwards) {
          var max = '{{ pagecnt }}';
          max = max == '' ? 1000 : max;
          var url = location.href;
          var adder = forwards ? 1 : -1;

          // search for hebrew or greek strong
          var regex = new RegExp("([GHgh])([0-9]{1,4})/?(\\w)?/", "g")
          var result = regex.exec(url);
          if(result != null) {
            var gh = result[1];
            var strong = result[2];
            var page = result[3];
            page = parseInt(page == null ? 1 : page) + adder;
            if(page <= max && page > 0)
              location.href = '/' + gh + strong + '/' + page + '/';
            return;
          }

          // search for book and chapter
          regex = new RegExp("([0-9]?.? ?[a-zA-ZäöüÄÖÜ]+)\\s?([0-9]+),?([0-9]+)?", "g");
          result = regex.exec($('#searchId').val());
          if(result != null) {
            var book = result[1];
            var chapter = result[2];
            var vers = result[3];
            var val = '/' + book + (parseInt(chapter)+adder) + (vers != null ? ',' + vers : '') + '/';
            location.href = val;
            return;
          }

          // search for search text with page number
          regex = new RegExp("(.*)/([^/]*)/(\\w)/(.*)", "g");
          result = regex.exec(url);
          if(result != null) {
            // ULR is search string with page number specified
            var start = result[1];
            var search = result[2];
            var page = result[3];
            var end = result[4];
            if(adder + parseInt(page) <= 0) return;

            var val = start + '/' + search + '/' + (parseInt(page)+adder) + '/';
            page = parseInt(page) + adder;
            if(page <= max && page > 0)
              location.href = val;
            return;
          }
          // it is a search text without page number ... add it but don't forget there may be an anchor
          else {
            if(adder == -1) return; // we can't navigate backwards

            var idx = url.indexOf('#');
            val = url;
            if(idx > -1) {
              val = url.substring(0, idx) + '2/';
            } else {
              val = url + '2/';
            }
            if(page === undefined || page <= max)
              location.href = val;
            return;
          }
        }

        // Handle next and previous buttons
        $('#next_chapter').click(function(e) {
          navigate(true);
        });

        $('#prev_chapter').click(function(e) {
          navigate(false);
        });


        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 25;
        var navbarHeight = $('nav').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('nav').removeClass('nav-down').addClass('nav-up');
                $('#sb-menu').removeClass('sb-menu-nav-down').addClass('sb-menu-nav-up');
                $('#sb-button').removeClass('sb-menu-nav-down').addClass('sb-menu-nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('nav').removeClass('nav-up').addClass('nav-down');
                    $('#sb-menu').removeClass('sb-menu-nav-up').addClass('sb-menu-nav-down');
                    $('#sb-button').removeClass('sb-menu-nav-up').addClass('sb-menu-nav-down');
                }
            }

            lastScrollTop = st;
        }

        // add key listener for search
        document.onkeypress = function(evt) {
          var evt  = (evt) ? evt : ((event) ? event : null);
          var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
          if(node.type != "text")
            $("#searchId").focus();
        };
    </script>
    <script>
    /*$(document).ready(function() {
         $('.tip').tipr();
    });*/
    </script>

    {% block js %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47251309-1', 'strongs.de');
      ga('send', 'pageview');

    </script>
  </body>
</html>
