<!DOCTYPE html>
<html lang="de" class="no-js">
  <head>
    <!-- Version 9 -->
    <meta charset="utf-8">
    <title>Strongs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="{{ STATIC_URL }}images/iPhone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/icon_iPhone5.png">

    <!-- Loading Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <!--<link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/bible.css" rel="stylesheet">

	<!-- MATTHIAS: Laden der Modernizr-Bibliothek. Muss im HEAD passieren -->
	<script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <!--
  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="hidden-xs navbar-header">
        <!- -<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
          <span class="sr-only">Toggle navigation</span>
        </button>- ->
        <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}images/logo.png" width="175" /></a>
      </div>
      <div class="navbar-collapse">
        <form class="navbar-form navbar-left" id="searchform" action="#" role="search" style="width: 250px">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" id="searchId" type="search" value="{{search}}" placeholder="Suchen (Bibelstelle oder Strong-Nummer)">
              <span class="input-group-btn">
                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        </form>
          <div class="btn-group navbar-left">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
          </div>
      </div>
    </nav>-->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header hidden-xs">
          <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}images/logo.png" width="175" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse">
          <form class="navbar-form navbar-left" id="searchform" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="searchId" type="search" value="{{search}}" placeholder="Suchen (Bibelstelle oder Strong-Nummer)">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li><a href="#" id='prev_chapter'><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li><a href="#" id='next_chapter'><span class="glyphicon glyphicon-chevron-right"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="container-full" class="container-full">
        <div class="col-md-3 sb-button" id="sb-button"></div> <!-- MATTHIAS: Button (rechts oben) für die SideBar -->
		<nav id="sb-menu" class="sb-menu"></nav> <!-- MATTHIAS: NAV Container für die SideBar. Sollte in einzelne Bereich (divs) unterteilt werden -->

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>





    </div>
    <!-- /.container -->


    <!-- Load JS here for greater good =============================-->
    <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-switch.js"></script>
    <!--<script src="{{ STATIC_URL }}js/flatui-checkbox.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/flatui-radio.js"></script>-->
    <script src="{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}js/sidebarEffects.js"></script>
    <script>
        $('#searchform').submit(function(e) {
            var path = '/' + $('#searchId').val();
            location.href=path;
            e.preventDefault();
        });

        function navigate(forwards) {
          var url = location.href;
          var adder = forwards ? 1 : -1;

          // search for book and chapter
          var regex = new RegExp("([0-9]?.? ?[a-zA-ZäöüÄÖÜ]+)\\s?([0-9]+),?([0-9]+)?", "g");
          var result = regex.exec($('#searchId').val());
          if(result != null) {
            var book = result[1];
            var chapter = result[2];
            var vers = result[3];
            var val = '/' + book + (parseInt(chapter)+adder) + (vers != null ? ',' + vers : '') + '/';
            // alert(val);
            location.href = val;
            return;
          }

          // search for search text with page number
          regex = new RegExp("(.*)/([^/]*)/(\\w)/(.*)", "g");
          result = regex.exec(url);
          if(result != null) {
            // ULR is search string with page number specified
            var start = result[1];
            var search = result[2];
            var page = result[3];
            var end = result[4];
            if(adder + parseInt(page) <= 0) return;

            var val = start + '/' + search + '/' + (parseInt(page)+adder) + '/';
            // alert(val);
            location.href = val;
            return;
          }
          // it is a search text without page number ... add it but don't forget there may be an anchor
          else {
            if(adder == -1) return; // we can't navigate backwards

            var idx = url.indexOf('#');
            val = url;
            if(idx > -1) {
              val = url.substring(0, idx) + '2/';
            } else {
              val = url + '2/';
            }
            location.href = val;
            return;
          }
        }

        // Handle next and previous buttons
        $('#next_chapter').click(function(e) {
          navigate(true);
        });

        $('#prev_chapter').click(function(e) {
          navigate(false);
        });


        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 25;
        var navbarHeight = $('nav').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('nav').removeClass('nav-down').addClass('nav-up');
                $('#sb-menu').removeClass('sb-menu-nav-down').addClass('sb-menu-nav-up');
                $('#sb-button').removeClass('sb-menu-nav-down').addClass('sb-menu-nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('nav').removeClass('nav-up').addClass('nav-down');
                    $('#sb-menu').removeClass('sb-menu-nav-up').addClass('sb-menu-nav-down');
                    $('#sb-button').removeClass('sb-menu-nav-up').addClass('sb-menu-nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    {% block js %}
    {% endblock %}
  </body>
</html>
