<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="{{ STATIC_URL }}images/iPhone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/icon_iPhone5.png">

        <title>{{ search }}</title>

{#        <link href="{{ STATIC_URL }}css/anysearch.css" rel="stylesheet">#}
        <link href="{{ STATIC_URL }}css/glyphter.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/newDesign.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/tooltipster.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/themes/tooltipster-shadow.css" rel="stylesheet">

        {% block header %}
        {% endblock %}
    </head>

    <body>
        <!-- Menubar ... -->
        <nav class="nav">
            <a href="/" class="navbar-brand hide-vga hide-small"><img src="{{ STATIC_URL }}images/logo.png"></a>
            <div class="nav-ele" id="center-div"></div>
            <div class="nav-ele">
                <input type="text" class="search" id="searchId" placeholder="Suchen" value="{{ search }}" />
            </div>
            <div class="nav-ele">
                <span class="navbuttons">
                    <a class="glyphter" id="prev_chapter">Z</a>
                    {%if pagecnt > 0 %}{% block pagenum %}{% endblock %}{% endif %}
                    <a class="glyphter" id="next_chapter">a</a>
                </span>
            </div>
            <div class="nav-ele hide-vga hide-small"></div>
            <div class="nav-ele hide-vga hide-small"></div>
            <div class="nav-ele hide-vga hide-small">
                <a href="/">Home</a>
            </div><div class="nav-ele hide-vga">
                {% if user.is_authenticated %}
                    <a href="/account/">Mein Konto</a> </div><div class="nav-ele"><a href="/logout/">{{user.username}} abmelden</a>
                {% else %}
                    <a href="/login/">Anmelden</a>
                {% endif %}
            </div>
            <div class="nav-ele hide-vga hide-small">
              <iframe src="http://ghbtns.com/github-btn.html?user=strongs-de&repo=strongs&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
            </div>
        </nav>
        <!-- ... Menubar -->

        <!-- Sidebar ... -->
        <div id="sb-slidebox">
            <div class="sb-button" id="sb-button">C</div> <!-- MATTHIAS: Button (rechts oben) für die SideBar -->
            <div id="sb-menu" class="sb-menu"><div id="info-content">
                <h2>Strong-Seitenleiste</h2>
                <div style="padding-left:20px">
                    Wenn du auf ein Strong-Wort geklickt hast, geht diese Seitenleiste auf und du erhältst weitere
                    Informationen zu diesem griechischen oder hebräischen Wort.<br/><br/>
                    Du kannst dir z.B. alle Stellen anzeigen lassen, in denen dieses Wort vorkommt und siehst die
                    verwendete Grammatik dieses Worts.
                </div>
            </div></div> <!-- MATTHIAS: NAV Container für die SideBar. Sollte in einzelne Bereich (divs) unterteilt werden -->
        </div>
        <!-- ... Sidebar -->

        <!-- Content ... -->
        <div class="container">
            {% block content %}
            {% endblock %}

        </div>
        <!-- ... Content -->

        <!-- Verslist ... -->
        {% if versList %}
            <div class="versList" id="{{ versList.id }}">
                <ul class="versListItems">
                    {% for vli in versListItems %}
                        <li class="versListItem"><a href="/{{ vli.vers }}">{{ vli.vers }}</a><a data="{{vli.vers.bookNr.nr}}_{{vli.vers.chapterNr}}_{{vli.vers.versNr}}" class="remove-from-verslist">X</a></li>
                    {% endfor %}
                </ul>
                <input type="text" class="versListTitle" value="{{ versList.title }}" />
                <span class="glyphter versListTitleCombo">c</span>
                <span class="glyphter versListRemove">W</span>
            </div>
        {% endif %}
        <!-- ... Verslist -->

        <!-- Javascript -->
        <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.matchHeight.js"></script>

        <!-- For Autocomplete staff ... -->
        <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet">
        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
        <!-- ... for Autocomplete staff -->

        <script src="{{ STATIC_URL }}js/infoSidebar.js"></script>

        <!-- Tooltipster -->
        <script src="{{ STATIC_URL }}js/jquery.tooltipster.min.js"></script>
        <script>
{#            jQuery.fn.outerHTML = function(s) {#}
{#                return s#}
{#                    ? this.before(s).remove()#}
{#                    : jQuery("<p>").append(this.eq(0).clone()).html();#}
{#            };#}

            function initTooltips() {
                // Activate tooltipster
                $('.tooltip').tooltipster({
                    contentAsHTML: true,
                    interactive: true,
                    maxWidth: 500,
                    theme: 'tooltipster-shadow'
                });
            }

            function initSite() {
                // call highLight if exists
                try {
                    highLight('{{ search }}', '.content');
                    $('.tr').matchHeight(true, true);
                } catch(ex) {
                    // do nothing, the function highLight seems to not exist.
                }

                initTooltips();
                initStrongLinks();

                // Key listener for search field
                $('#searchId').keydown(function(e) {
                    if(e.keyCode == 13)
                        doSearch($('#searchId').val())
                });

                // Autocomplete for vers lists
                $('.versListTitle').autocomplete({
                    source:[
                        {% for vl in versLists %}
                            { label: '{{ vl.title }}', value: {{ vl.id }} },
                        {% endfor %}
                        {label: '<Neue Versliste>', value: -1}
                    ],
                    position: { my: "left bottom", at: "left top", collision: "none" },
                    minLength: 0,
                    select: function(ev, ui) {
                        if(ui.item.value == -1) {
                            // Create new one
                            var xhReq = new XMLHttpRequest();
                            xhReq.open("GET", "/create-verslist/", false);
                            xhReq.send(null);
                            if(xhReq.responseText === 'Ok') {
                                location.reload();
{#                                $('.versListItems').children().remove();#}
{#                                $('.versListTitle').val('Neue Versliste');#}
                            }
                        } else {
                            // Open selected verslist
                            var xhReq = new XMLHttpRequest();
                            xhReq.open("GET", "/select-verslist/" + ui.item.value + '/', false);
                            xhReq.send(null);
                            if(xhReq.responseText === 'Ok') {
                                location.reload();
                            }
                        }
                        ev.preventDefault();
                    }
                });
                $( ".versListTitle" ).autocomplete("disable", "");
                var versListOpen = false;
                $('.versListTitleCombo').click(function(ev) {
                    if(!versListOpen) {
                        $( ".versListTitle" ).autocomplete("enable", "");
                        $( ".versListTitle" ).autocomplete("search", "");
                        $('.versListTitleCombo').text('b');
                    } else {
                        $( ".versListTitle" ).autocomplete("disable", "");
                        $( ".versListTitle" ).autocomplete("close", "");
                        $('.versListTitleCombo').text('c');
                    }
                    versListOpen = !versListOpen;
                });
                $(document).click(function(ev) {
                    if(!$(ev.target).hasClass('versListTitleCombo')) {
                        $( ".versListTitle" ).autocomplete("disable", "");
                        $( ".versListTitle" ).autocomplete("close", "");
                        $('.versListTitleCombo').html('c');
                        versListOpen = false;
                    }
                });

                // navigation functions
                function navigate(forwards) {
                  var max = '{{ pagecnt }}';
                  max = max == '' ? 1000 : max;
                  var url = location.href;
                  var adder = forwards ? 1 : -1;

                  // search for hebrew or greek strong
                  var regex = new RegExp("/([GHgh])([0-9]{1,4})/?(\\w)?/", "g")
                  var result = regex.exec(url);
                  if(result != null) {
                    var gh = result[1];
                    var strong = result[2];
                    var page = result[3];
                    page = parseInt(page == null ? 1 : page) + adder;
                    if(page <= max && page > 0)
                      location.href = '/' + gh + strong + '/' + page + '/';
                    return;
                  }

                  // search for book and chapter
                  regex = new RegExp("([0-9]?.? ?[a-zA-ZäöüÄÖÜ]+)\\s?([0-9]+),?([0-9]+)?", "g");
                  result = regex.exec('{{ search }}');
                  if(result != null) {
                    var book = result[1];
                    var chapter = result[2];
                    var vers = result[3];
                    var val = '/' + book + (parseInt(chapter)+adder) + '/';
                    location.href = val;
                    return;
                  }

                  // search for search text with page number
                  regex = new RegExp("(.*://.*)/([^/]*)/([\\d]+)/(.*)", "g");
                  result = regex.exec(url);
                  if(result != null) {
                    // ULR is search string with page number specified
                    var start = result[1];
                    var search = result[2];
                    var page = result[3];
                    var end = result[4];
                    if(adder + parseInt(page) <= 0) return;

                    var val = start + '/' + search + '/' + (parseInt(page)+adder) + '/';
                    page = parseInt(page) + adder;
                    if(page <= max && page > 0)
                      location.href = val;
                    return;
                  }
                  // it is a search text without page number ... add it but don't forget there may be an anchor
                  else {
                    if(adder == -1) return; // we can't navigate backwards

                    var idx = url.indexOf('#');
                    val = url;
                    if(idx > -1) {
                      val = url.substring(0, idx) + '2/';
                    } else {
                      val = url + '2/';
                    }
                    if(page === undefined || page <= max)
                      location.href = val;
                    return;
                  }
                }

                // Handle next and previous buttons
                $('#next_chapter').click(function(e) {
                    navigate(true);
                    e.preventDefault();
                });

                $('#prev_chapter').click(function(e) {
                    navigate(false);
                    e.preventDefault();
                });

                // add key listener for search
                document.onkeypress = function(evt) {
                  var evt  = (evt) ? evt : ((event) ? event : null);
                  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
                  if(node.type != "text" && node.type != "password" && node.type != "email" && !evt.metaKey && !evt.ctrlKey && !evt.altKey) {
                    $('#searchId').val('');
                    $("#searchId").focus();
                  }
                };

                // find all empty verses and add there vers-number to the previous vers (e.g. vers 16-17)
                var lastValidVers = 0;
                var lastEmptyVers = 0;
                var versDiv = undefined;
                $(".verse").each(function() {
                    if($(this).clone().children('span').remove().end().text().trim() === "") {
                        lastEmptyVers = parseInt($(this).find("span > a").text().trim());
                        $(this).find("span").remove();
                    } else {
                        if(lastEmptyVers > 0) {
                            // add this vers to the upper div
                            versDiv.find("span > a").text(lastValidVers + "-" + lastEmptyVers);
                            lastEmptyVers = 0;
                            versDiv = undefined;
                        }
                        lastValidVers = parseInt($(this).find("span").text().trim());
                        versDiv = $(this);
                    }
                });

                // insert actions to add verses to verslist
                $('a.add-to-verslist').click(addVersToList);

                // insert actions to remove verses to verslist
                $('a.remove-from-verslist').click(removeVersFromList);

                // insert remove verslist action
                $('.versListRemove').click(removeVersList);

                // add key listener for saving the verslist title
                $('.versListTitle').keyup(function(ev) {
                    var id = $(this).parent().attr('id');
                    var xhReq = new XMLHttpRequest();
                    xhReq.open("GET", "/set-verslist-title/" + id + '/' + $(this).val() + '/', false);
                    xhReq.send(null);
                    if(xhReq.responseText === 'Ok')
                        ;
                });

                $('.titleTr').click(function(e) {
                    $('.switchTr').css( "display", "none" );
                    $('#switchTr' + $(this).attr('_hmnu')).css( "display", "block" );
                });

                register_title_hover();
            }

            function removeVersFromList() {
                var xhReq = new XMLHttpRequest();
                xhReq.open("GET", "/remove-vers/" + $(this).attr('data') + '/', false);
                xhReq.send(null);
                if(xhReq.responseText === 'Ok')
                    $(this).parent().remove();
            }

            function addVersToList(me) {
                var xhReq = new XMLHttpRequest();
                xhReq.open("GET", "/add-vers/" + $(me).attr('data') + '/', false);
                xhReq.send(null);
                if(xhReq.responseText === 'Ok') {
                    arr = $(me).attr('data').split('/')[0].split('_');
                    vlId = $(me).attr('data').split('/')[1];
                    if(arr.length >= 3 && vlId !== undefined && $('.versList#' + vlId).length > 0) {
                        ele = $('.versListItems').append('<li class="versListItem"><a href="/' + shortBooks[arr[0] - 1] + arr[1] + ',' + arr[2] + '">' + shortBooks[arr[0] - 1] + ' ' + arr[1] + ',' + arr[2] + '</a><a data="' + $(me).attr('data').split('/')[0] + '" class="remove-from-verslist">X</a></li>');
                        ele.find('a.remove-from-verslist').click(removeVersFromList);
                    }
                }
            }

            function removeVersList() {
                var xhReq = new XMLHttpRequest();
                xhReq.open("GET", "/remove-verslist/", false);
                xhReq.send(null);
                if(xhReq.responseText === 'Ok') {
                    location.reload();
                }
            }

            function doSearch(string) {
                var path = '/' + string;
                location.href=path;
{#                var xhReq = new XMLHttpRequest();#}
{#                xhReq.open("GET", path, false);#}
{#                xhReq.send(null);#}
{#                var serverResponse = xhReq.responseText;#}
{#                $('.container').html(serverResponse);#}
{#                $('#searchId').blur();#}
{#                initStrongLinks();#}
            }

            function switchTranslation(column, translation) {
                var url = document.location.href.match(/(^[^#]*)/)[0];
                url = url + "trans/"+column+"_"+translation+"/";
{#                var xhReq = new XMLHttpRequest();#}
{#                xhReq.open("GET", url, false);#}
{#                xhReq.send(null);#}
{#                location.reload();#}
                $('.container').load(url, function( response, status, xhr ) {
                    if ( status != "error" ) {
{#                        register_title_hover();#}
                        initSite();
                    }
                });

            }

            $(document).ready(function() {
                initSite();
            });

            function register_title_hover() {
                var title_delayIn = 0;
                var title_delayOut = 0;
                var title = -1;
                $('.titleTr').hover (
                    function() {
                        var hmnu = $(this).attr('_hmnu');
                        title_delayIn = 1;

                        if (title == hmnu) {
                            title_delayOut = 0;
                        }

                        window.setTimeout(function () {
                            if (title_delayIn) {
                                $('.switchTr').css( "display", "none" );
                                $('#switchTr' + hmnu).css( "display", "block" );
                            }
                        }, 300);
                    }, function() {
                        var hmnu = $(this).attr('_hmnu');
                        title_delayIn = 0;
                        title_delayOut = 1;
                        title = hmnu;
                        window.setTimeout(function () {
                            if (title_delayOut) {
                                $('#switchTr' + hmnu).css( "display", "none" );
                            }
                        }, 500);
                    }
                );
            }
        </script>
        <script src="{{ STATIC_URL }}js/autocomplete.js"></script>
        {% block js %}
        {% endblock %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47251309-1', 'strongs.de');
          ga('send', 'pageview');

        </script>
    </body>

</html>
