<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
		<!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
		<style>
			@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
			body {
				background: #7f9b4e url("{{ STATIC_URL }}images/bg-login.jpeg") no-repeat center top;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
			}
			.container > header h1,
			.container > header h2 {
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.7);
			}
		</style>
    </head>
    <body>
        <nav>
            <a href="/"><img src="{{ STATIC_URL }}images/logo.png"></a></a>
            <p>
                <a href="/">Home</a>
                <a href="/register/">Registrierung</a>
            </p>
        </nav>

        <form class="form-4" method="post" action="">
            {% csrf_token %}
            <h1>Login</h1>
            {% if form.errors %}
            <h4 class="error">Der Benutzername und das Passwort stimmen nicht überein!</h4><br/>
            {% endif %}
            <p>
                {{ form.username.label_tag }}
                <input id="id_username" maxlength="254" name="username" type="text" placeholder="Benutzername">
            </p>
            <p>
                {{ form.password.label_tag }}
                <input id="id_password" name="password" type="password" placeholder="Passwort">
            </p>

            <p>
                <input type="submit" name="submit" value="Login">
            </p>
            <input type="hidden" name="next" value="/" />
            <br/>
            <p>
                Zur <a href="/accounts/register/">Registrierung</a>.
            </p>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>​

    </body>
</html>