{% extends "baseTemplate3.html" %}
{% block content %}
    {% autoescape off %}
    {% load strongs_extras %}
        <div id="tr1" class="tr">
            <div id="titleTr1" class="titleTr"><span class="title">{{ translation1 }}{% block results1 %}{% endblock %}</span></div>
            <div class="content">
                {% for v in verses1 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            {% if user.is_authenticated %}
                                <a class="tooltip" title="Hinzufügen zur Versliste:<br/>
                                    {% for vl in versLists %}
                                        <a class='add-to-verslist' onclick='addVersToList(this)' href='#' data='{{v.vers.bookNr.nr}}_{{v.vers.chapterNr}}_{{v.vers.versNr}}/{{ vl.id }}'>
                                            <span class='pad-left glyphter logogreen'>e</span>{{ vl.title }}</a><br/>
                                    {% endfor %}" href="#">
                            {% endif %}
                            {{v.vers.versNr}}
                            {% if user.is_authenticated %}
                                </a>
                            {% endif %}&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
            </p>
        </div>
        <div id="tr2" class="tr hide-small">
            <div id="titleTr2" class="titleTr"><span class="title">{{ translation2 }}{% block results2 %}{% endblock %}</span></div>
            <div class="content">
                {% for v in verses2 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            {% if user.is_authenticated %}
                                <a class="tooltip" title="Hinzufügen zur Versliste:<br/>
                                    {% for vl in versLists %}
                                        <a class='add-to-verslist' onclick='addVersToList(this)' href='#' data='{{v.vers.bookNr.nr}}_{{v.vers.chapterNr}}_{{v.vers.versNr}}/{{ vl.id }}'>
                                            <span class='pad-left glyphter logogreen'>e</span>{{ vl.title }}</a><br/>
                                    {% endfor %}" href="#">
                            {% endif %}
                            {{v.vers.versNr}}
                            {% if user.is_authenticated %}
                                </a>
                            {% endif %}&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
                <br/>
                Bibeltext der Schlachter Übersetzung<br/>
                Copyright © 2000 Genfer Bibelgesellschaft<br/>
                Wiedergegeben mit freundlicher Genehmigung. Alle Rechte vorbehalten.<br/>
            </p>
        </div>
        <div id="tr3" class="tr hide-small hide-vga">
            <div id="titleTr3" class="titleTr"><span class="title">{{ translation3 }}{% block results3 %}{% endblock %}</span></div>
            <div class="content">
                {% for v in verses3 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            {% if user.is_authenticated %}
                                <a class="tooltip" title="Hinzufügen zur Versliste:<br/>
                                    {% for vl in versLists %}
                                        <a class='add-to-verslist' onclick='addVersToList(this)' href='#' data='{{v.vers.bookNr.nr}}_{{v.vers.chapterNr}}_{{v.vers.versNr}}/{{ vl.id }}'>
                                            <span class='pad-left glyphter logogreen'>e</span>{{ vl.title }}</a><br/>
                                    {% endfor %}" href="#">
                            {% endif %}
                            {{v.vers.versNr}}
                            {% if user.is_authenticated %}
                                </a>
                            {% endif %}&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
            </p>
        </div>
        <div id="tr4" class="tr noborder hide-small hide-vga hide-xga">
            <div id="titleTr4" class="titleTr noborder"><span class="title">{{ translation4 }}{% block results4 %}{% endblock %}</span></div>
            <div class="content">
                {% for v in verses4 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            {% if user.is_authenticated %}
                                <a class="tooltip" title="Hinzufügen zur Versliste:<br/>
                                    {% for vl in versLists %}
                                        <a class='add-to-verslist' onclick='addVersToList(this)' href='#' data='{{v.vers.bookNr.nr}}_{{v.vers.chapterNr}}_{{v.vers.versNr}}/{{ vl.id }}'>
                                            <span class='pad-left glyphter logogreen'>e</span>{{ vl.title }}</a><br/>
                                    {% endfor %}" href="#">
                            {% endif %}
                            {{v.vers.versNr}}
                            {% if user.is_authenticated %}
                                </a>
                            {% endif %}&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
                <br/>
                Bibeltext der Neuen Genfer Übersetzung – Neues Testament und Psalmen<br/>
                Copyright © 2011 Genfer Bibelgesellschaft<br/>
                Wiedergegeben mit freundlicher Genehmigung. Alle Rechte vorbehalten.<br/>
            </p>
        </div>
        {% endautoescape %}
{% endblock %}

{% block js %}
{%if vers > 0 %}
<script>
    $(window).load(function() {
        // scroll to selected vers
        $(".container").animate({ scrollTop: $('.vers-{{vers}}').position().top - 13}, 500);
        $(".vers-{{ vers }}").parent().addClass('search-highlight');
    });
</script>
{% endif %}
<script>
    // insert matchrowheight
    $('.verse').matchHeight(true);
    $('.tr').matchHeight(true);
</script>
{% endblock %}