{% extends "baseTemplate.html" %}

{% block head %}
<script src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block editor %}

<form id="editorwrapper" action="{{saveurl}}" method="post">{% csrf_token %}
    <textarea id="note" name="note">{{text}}</textarea><br/>
    <input type="submit" value="Speichern" />
</form>
<!--
<div id="editorwrapper">
    <div id='editor'>
    </div>
    <input type="button" value="Speichern" onclick="saveNote()"/>
</div>-->
{% endblock %}

{% block content %}
    <table class="col-md-12 table-bible">
        <tr>
            <th class="col-md-3">{{translation1}}</th>
            <th class="col-md-3 hidden-xs">{{translation2}}</th>
            <th class="col-md-3 hidden-xs hidden-sm hidden-md">{{translation3}}</th>
            <th class="col-md-3 hidden-xs hidden-sm hidden-md">{{translation4}}</th>
        </tr>
        {% for vers1, vers2, vers3, vers4 in verses %}
        <tr class="enableHover" id="vers-{{vers1.vers.versNr}}">
            {% autoescape off %}
            {% load strongs_extras %}
            <td class="col-md-3"><table><tr><td class="versenr"><a href="/note/{{vers1.vers.bookNr.nr}}/{{vers1.vers.chapterNr}}/{{vers1.vers.versNr}}">{{vers1.vers.versNr}}</a></td><td class="verse" id="{{vers1.vers.bookNr.short_name}}{{vers1.vers.chapterNr}}_{{vers1.vers.versNr}}">{{vers1.versText|correctverstext}}</td></tr></table></td>
            <td class="col-md-3 hidden-xs"><table><tr><td class="versenr"><a href="/note/{{vers1.vers.bookNr.nr}}/{{vers1.vers.chapterNr}}/{{vers1.vers.versNr}}">{{vers2.vers.versNr}}</a></td><td class="verse" id="{{vers2.vers.bookNr.short_name}}{{vers2.vers.chapterNr}}_{{vers2.vers.versNr}}">{{vers2.versText|correctverstext}}</td></tr></table></td>
            <td class="col-md-3 hidden-xs hidden-sm hidden-md"><table><tr><td class="versenr"><a href="/note/{{vers1.vers.bookNr.nr}}/{{vers1.vers.chapterNr}}/{{vers1.vers.versNr}}">{{vers3.vers.versNr}}</a></td><td class="verse" id="{{vers3.vers.bookNr.short_name}}{{vers3.vers.chapterNr}}_{{vers3.vers.versNr}}">{{vers3.versText|correctverstext}}</td></tr></table></td>
            <td class="col-md-3 hidden-xs hidden-sm hidden-md"><table><tr><td class="versenr"><a href="/note/{{vers1.vers.bookNr.nr}}/{{vers1.vers.chapterNr}}/{{vers1.vers.versNr}}">{{vers4.vers.versNr}}</a></td><td class="verse" id="{{vers4.vers.bookNr.short_name}}{{vers4.vers.chapterNr}}_{{vers4.vers.versNr}}">{{vers4.versText|correctverstext}}</td></tr></table></td>
            {% endautoescape %}
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="col-md-3 hidden-xs">
                <div class="copyright">
                    <br/>
                    Bibeltext der Schlachter<br/>
                    Copyright © 2000 Genfer Bibelgesellschaft<br/>
                    Wiedergegeben mit freundlicher Genehmigung. Alle Rechte vorbehalten.<br/>
                </div>
            </td>
            <td class="col-md-3 hidden-xs hidden-sm hidden-md"></td>
            <td class="col-md-3 hidden-xs hidden-sm hidden-md">
                <div class="copyright">
                    <br/>
                    Bibeltext der Neuen Genfer Übersetzung – Neues Testament und Psalmen<br/>
                    Copyright © 2011 Genfer Bibelgesellschaft<br/>
                    Wiedergegeben mit freundlicher Genehmigung. Alle Rechte vorbehalten.<br/>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block js %}
{%if vers > 0 %}
<script>
/*    $(window).load(function() {
        // $("#vers-{{vers}}").animate({ scrollTop: 0 }, "slow");
        $("html, body").animate({ scrollTop: $('#vers-{{vers}}').position().top + 70}, 500);
        $('#vers-{{vers}}').css('background-color', 'rgba(91, 176, 91, .1)');
    });
*/
</script>
{% endif %}
<script>
/*
    var content = '';
    $(document).ready(function() {
        $.fn.notebook.defaults = {
            autoFocus: true,
            placeholder: 'Hier bitte den Kommentar eingeben ... zum Formatieren doppelt klicken.',
            mode: 'multiline', // multiline or inline
            modifiers: ['bold', 'italic', 'underline', 'h1', 'h2', 'ol', 'ul', 'anchor']
        };
        $('#editor').html('{{text}}');
        $('#editor').notebook();
        $('#editor').on('contentChange', function(e) {
            content = e.originalEvent.detail.content;
        });
    });

    function createCORSRequest(method, url){
        var xhr = new XMLHttpRequest();
        if ("withCredentials" in xhr){
            // XHR has 'withCredentials' property only if it supports CORS
            xhr.open(method, url, true);
        } else if (typeof XDomainRequest != "undefined"){ // if IE use XDR
            xhr = new XDomainRequest();
            xhr.open(method, url);
        } else {
            xhr = null;
        }
        return xhr;
    }
*/
    function saveNote() {
        // Build a form and submit it

    }
</script>
<script>
    CKEDITOR.replace("note");
</script>
{% endblock %}