{% extends "strongs/bibleNew.html" %}
{% block pagenum %}
Seite {{ pageact }}/{{ pagecnt }}
{% endblock %}

{% block searchtitle %}
    Suche nach:
{% endblock %}


{% block js %}
    {%if search %}
        <script>
            function shlex(str) {
                var args = str.split(" ");
                var out = [];
                var lookForClose = -1;
                var quoteOpen = false;
                for (var x in args) {
                    if (args.hasOwnProperty(x)) {
                        var arg = args[x];
                        var escSeq = false;
                        for (var y in arg) {
                            if (escSeq) {
                                escSeq = false;
                            } else if (arg[y] === "\\") {
                                escSeq = true;
                            } else if (arg[y] === "\"") {
                                quoteOpen = !quoteOpen;
                            }
                        }
                        if (!quoteOpen && lookForClose === -1) {
                            out.push(arg);
                        } else if (quoteOpen && lookForClose === -1) {
                            lookForClose = x;
                        } else if (!quoteOpen && lookForClose >= 0) {
                            var block = args.slice(lookForClose, parseInt(x) + 1).join(" ");
                            var escSeq = false;
                            var quotes = [];
                            for (var y in block) {
                                if (escSeq) {
                                    escSeq = false;
                                } else if (block[y] === "\\") {
                                    escSeq = true;
                                } else if (block[y] === "\"") {
                                    quotes.push(y);
                                }
                            }
                            var parts = [];
                            parts.push(block.substr(0, quotes[0]));
                            parts.push(block.substr(parseInt(quotes[0]) + 1, quotes[1] - (parseInt(quotes[0]) + 1)));
                            parts.push(block.substr(parseInt(quotes[1]) + 1));
                            block = parts.join("");
                            out.push(block);
                            lookForClose = -1;
                        }
                    }
                }
                return quoteOpen ? false : out;
            }
            function highLight(substring, block) {
               $(block).find(".search-highlight").each(function () {
                  $(this).outerHtml($(this).html());
               });
               // now the block is free from previous highlights

               substrings = shlex(substring.replace(/&quot;/g, '"'));
               if(substrings === false) substrings = [substring.replace(/&quot;/g, '"')];
               else substrings.forEach(function(e, i){return e.replace(/"/g, "").replace(/'/g, "");});
               for(i = 0; i < substrings.length; ++i) {
                 $(block).html($(block).html().replace(new RegExp("\\s" + substrings[i], 'gi'), function(match, text, urlId){
                    return " <span class='search-highlight'>" + match.substring(1) + '</span>'
                 }));
                 $(block).html($(block).html().replace(new RegExp(">" + substrings[i], 'gi'), function(match, text, urlId){
                    return "><span class='search-highlight'>" + match.substring(1) + '</span>'
                 }));
               }

               // check if it is a strong number
{#               var regex = new RegExp("([GHgh])([0-9]{1,4})", "g")#}
               var regex = new RegExp("([GHgh])([\\d\\-HGhg]+)", "g")
               var result = regex.exec(substring);
               if(result != null) {
                  $('.strong-' + result[2]).addClass('search-highlight');
                  // do matchrowheight for verses
                  $('.verse').matchHeight(true);
               }
            }

            highLight("{{ search }}", ".container");

            // insert matchrowheight
            $('.tr').matchHeight(true);
        </script>
    {% endif %}
{% endblock %}