{% extends "baseTemplate3.html" %}
{% block pagenum %}
Seite {{ pageact }}/{{ pagecnt }}
{% endblock %}

{% block searchtitle %}
    Suche nach:
{% endblock %}

{% block content %}
    {% autoescape off %}
    {% load strongs_extras %}
        <div id="tr1" class="tr">
            <div id="titleTr1" class="titleTr" _hmnu="1">
                <span class="title" style="cursor: pointer;">{{ translation1 }} ({{ count1 }} Treffer)</span>
                <span class="glyphter" style="font-size: 150%; margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
                <div id="switchTr1" class="switchTr">
                    {% for trOption in trOptions %}
                        <div onclick="switchTranslation(0, {% cycle 0 1 2 3 4 5 6 7 %})">{{trOption}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                {% for v in verses1 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            <a href="/{{v.vers}}">{{v.vers}}</a>&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
                {{ bible_hint1 }}
            </p>
        </div>
        <div id="tr2" class="tr hide-small">
            <div id="titleTr2" class="titleTr" _hmnu="2">
                <span class="title" style="cursor: pointer;">{{ translation2 }} ({{ count2 }} Treffer)</span>
                <span class="glyphter" style="font-size: 150%; margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
                <div id="switchTr2" class="switchTr">
                    {% for trOption in trOptions %}
                        <div onclick="switchTranslation(0, {% cycle 0 1 2 3 4 5 6 7 %})">{{trOption}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                {% for v in verses2 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            <a href="/{{v.vers}}">{{v.vers}}</a>&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
                {{ bible_hint2 }}
            </p>
        </div>
        <div id="tr3" class="tr hide-small hide-vga">
            <div id="titleTr3" class="titleTr" _hmnu="3">
                <span class="title" style="cursor: pointer;">{{ translation3 }} ({{ count3 }} Treffer)</span>
                <span class="glyphter" style="font-size: 150%; margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
                <div id="switchTr3" class="switchTr">
                    {% for trOption in trOptions %}
                        <div onclick="switchTranslation(0, {% cycle 0 1 2 3 4 5 6 7 %})">{{trOption}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                {% for v in verses3 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            <a href="/{{v.vers}}">{{v.vers}}</a>&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
                {{ bible_hint3 }}
            </p>
        </div>
        <div id="tr4" class="tr noborder hide-small hide-vga hide-xga">
            <div id="titleTr4" class="titleTr noborder" _hmnu="4">
                <span class="title" style="cursor: pointer;">{{ translation4 }} ({{ count4 }} Treffer)</span>
                <span class="glyphter" style="font-size: 150%; margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
                <div id="switchTr4" class="switchTr">
                    {% for trOption in trOptions %}
                        <div onclick="switchTranslation(0, {% cycle 0 1 2 3 4 5 6 7 %})">{{trOption}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="content">
                {% for v in verses4 %}
                    <div class="verse" id="{{v.vers.bookNr.short_name}}{{v.vers.chapterNr}}_{{v.vers.versNr}}">
                        <span class="versenr vers-{{ v.vers.versNr }}">
                            <a href="/{{v.vers}}">{{v.vers}}</a>&nbsp;
                        </span>
                        {{v.versText|correctverstext}}
                    </div>
                {% endfor %}
            </div>
            <p class="copyright">
                {{ bible_hint4 }}
            </p>
        </div>
        {% endautoescape %}
{% endblock %}



{% block js %}
    {%if search %}
        <script>
            function shlex(str) {
                var args = str.split(" ");
                var out = [];
                var lookForClose = -1;
                var quoteOpen = false;
                for (var x in args) {
                    if (args.hasOwnProperty(x)) {
                        var arg = args[x];
                        var escSeq = false;
                        for (var y in arg) {
                            if (escSeq) {
                                escSeq = false;
                            } else if (arg[y] === "\\") {
                                escSeq = true;
                            } else if (arg[y] === "\"") {
                                quoteOpen = !quoteOpen;
                            }
                        }
                        if (!quoteOpen && lookForClose === -1) {
                            out.push(arg);
                        } else if (quoteOpen && lookForClose === -1) {
                            lookForClose = x;
                        } else if (!quoteOpen && lookForClose >= 0) {
                            var block = args.slice(lookForClose, parseInt(x) + 1).join(" ");
                            var escSeq = false;
                            var quotes = [];
                            for (var y in block) {
                                if (escSeq) {
                                    escSeq = false;
                                } else if (block[y] === "\\") {
                                    escSeq = true;
                                } else if (block[y] === "\"") {
                                    quotes.push(y);
                                }
                            }
                            var parts = [];
                            parts.push(block.substr(0, quotes[0]));
                            parts.push(block.substr(parseInt(quotes[0]) + 1, quotes[1] - (parseInt(quotes[0]) + 1)));
                            parts.push(block.substr(parseInt(quotes[1]) + 1));
                            block = parts.join("");
                            out.push(block);
                            lookForClose = -1;
                        }
                    }
                }
                return quoteOpen ? false : out;
            }
            function highLight(substring, block) {
                if($(block).length > 0) {
                    $(block).find(".search-highlight").each(function () {
                        $(this).outerHtml($(this).html());
                    });
                    // now the block is free from previous highlights

                    substrings = shlex(substring.replace(/&quot;/g, '"'));
                    if(substrings === false) substrings = [substring.replace(/&quot;/g, '"')];
                    else substrings.forEach(function(e, i){substrings[i] = e.replace(/"/g, "").replace(/'/g, "");});

                    for(i = 0; i < substrings.length; ++i) {
                        $(block).each(function() {
                            $(this).html($(this).html().replace(new RegExp("\\s" + substrings[i], 'gi'), function(match, text, urlId){
                                return " <span class='search-highlight'>" + match.substring(1) + '</span>'
                            }));
                            $(this).html($(this).html().replace(new RegExp(">" + substrings[i], 'gi'), function(match, text, urlId){
                                return "><span class='search-highlight'>" + match.substring(1) + '</span>'
                            }));
                        });
                    }

                    // check if it is a strong number
                    var regex = new RegExp("([GHgh])([\\d\\-HGhg]+)", "g")
                    var result = regex.exec(substring);
                    if(result != null) {
                        $('.strong-' + result[2]).addClass('search-highlight');
                        // do matchrowheight for verses
                        $('.verse').matchHeight(true, true);
                    }
                }
            }
        </script>
    {% endif %}
{% endblock %}
