{#{% block pagenum %}#}
{#Seite {{ pageact }}/{{ pagecnt }}#}
{#{% endblock %}#}

{% autoescape off %}
{% load strongs_extras %}
<div id="tr1" class="tr">
    <div id="titleTr1" class="titleTr" _hmnu="1">
        <span class="title" style="cursor: pointer;">{{ translation1 }} ({{ count1 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr1" class="switchTr">
            <div onclick="switchTranslation(0, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(0, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(0, 2)">Luther 1912</div>
            <div onclick="switchTranslation(0, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(0, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers1 in verses1 %}
            <div class="verse" id="{{vers1.vers.bookNr.short_name}}{{vers1.vers.chapterNr}}_{{vers1.vers.versNr}}">
                <span class="versenr vers-{{ vers1.vers.versNr }}">
                    <a href="/{{vers1.vers.bookNr.short_name}}{{vers1.vers.chapterNr}},{{vers1.vers.versNr}}">{{vers1.vers}}</a>&nbsp;
                </span>
                {{vers1.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint1 }}
    </p>
</div>
<div id="tr2" class="tr">
    <div id="titleTr2" class="titleTr" _hmnu="2">
        <span class="title" style="cursor: pointer;">{{ translation2 }} ({{ count2 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr2" class="switchTr">
            <div onclick="switchTranslation(1, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(1, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(1, 2)">Luther 1912</div>
            <div onclick="switchTranslation(1, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(1, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers2 in verses2 %}
            <div class="verse" id="{{vers2.vers.bookNr.short_name}}{{vers2.vers.chapterNr}}_{{vers2.vers.versNr}}">
                <span class="versenr vers-{{ vers2.vers.versNr }}">
                    <a href="/{{vers2.vers.bookNr.short_name}}{{vers2.vers.chapterNr}},{{vers2.vers.versNr}}">{{vers2.vers}}</a>&nbsp;
                </span>
                {{vers2.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint2 }}
    </p>
</div>
<div id="tr3" class="tr">
    <div id="titleTr3" class="titleTr" _hmnu="3">
        <span class="title" style="cursor: pointer;">{{ translation3 }} ({{ count3 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr3" class="switchTr">
            <div onclick="switchTranslation(2, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(2, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(2, 2)">Luther 1912</div>
            <div onclick="switchTranslation(2, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(2, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers3 in verses3 %}
            <div class="verse" id="{{vers3.vers.bookNr.short_name}}{{vers3.vers.chapterNr}}_{{vers3.vers.versNr}}">
                <span class="versenr vers-{{ vers3.vers.versNr }}">
                    <a href="/{{vers3.vers.bookNr.short_name}}{{vers3.vers.chapterNr}},{{vers3.vers.versNr}}">{{vers3.vers}}</a>&nbsp;
                </span>
                {{vers3.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint3 }}
    </p>
</div>
<div id="tr4" class="tr noborder">
    <div id="titleTr4" class="titleTr noborder" _hmnu="4">
        <span class="title" style="cursor: pointer;">{{ translation4 }} ({{ count4 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr4" class="switchTr">
            <div onclick="switchTranslation(3, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(3, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(3, 2)">Luther 1912</div>
            <div onclick="switchTranslation(3, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(3, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers4 in verses4 %}
            <div class="verse" id="{{vers4.vers.bookNr.short_name}}{{vers4.vers.chapterNr}}_{{vers4.vers.versNr}}">
                <span class="versenr vers-{{ vers4.vers.versNr }}">
                    <a href="/{{vers4.vers.bookNr.short_name}}{{vers4.vers.chapterNr}},{{vers4.vers.versNr}}">{{vers4.vers}}</a>&nbsp;
                </span>
                {{vers4.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint4 }}
    </p>
</div>
{% endautoescape %}