{#{% block pagenum %}#}
{#Seite {{ pageact }}/{{ pagecnt }}#}
{#{% endblock %}#}

{% autoescape off %}
{% load strongs_extras %}
<div id="tr1" class="tr">
    <div id="titleTr1" class="titleTr" _hmnu="1">
        <span class="title" style="cursor: pointer;">{{ translation1 }} ({{ count1 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr1" class="switchTr">
            <div onclick="switchTranslation(0, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(0, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(0, 2)">Luther 1912</div>
            <div onclick="switchTranslation(0, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(0, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers1 in verses1 %}
            <div class="verse" id="{{vers1.vers.bookNr.short_name}}{{vers1.vers.chapterNr}}_{{vers1.vers.versNr}}">
                <span class="versenr vers-{{ vers1.vers.versNr }}">
                    <a href="/{{vers1.vers.bookNr.short_name}}{{vers1.vers.chapterNr}},{{vers1.vers.versNr}}">{{vers1.vers}}</a>&nbsp;
                </span>
                {{vers1.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint1 }}
    </p>
</div>
<div id="tr2" class="tr">
    <div id="titleTr2" class="titleTr" _hmnu="2">
        <span class="title" style="cursor: pointer;">{{ translation2 }} ({{ count2 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr2" class="switchTr">
            <div onclick="switchTranslation(1, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(1, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(1, 2)">Luther 1912</div>
            <div onclick="switchTranslation(1, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(1, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers2 in verses2 %}
            <div class="verse" id="{{vers2.vers.bookNr.short_name}}{{vers2.vers.chapterNr}}_{{vers2.vers.versNr}}">
                <span class="versenr vers-{{ vers2.vers.versNr }}">
                    <a href="/{{vers2.vers.bookNr.short_name}}{{vers2.vers.chapterNr}},{{vers2.vers.versNr}}">{{vers2.vers}}</a>&nbsp;
                </span>
                {{vers2.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint2 }}
    </p>
</div>
<div id="tr3" class="tr">
    <div id="titleTr3" class="titleTr" _hmnu="3">
        <span class="title" style="cursor: pointer;">{{ translation3 }} ({{ count3 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr3" class="switchTr">
            <div onclick="switchTranslation(2, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(2, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(2, 2)">Luther 1912</div>
            <div onclick="switchTranslation(2, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(2, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers3 in verses3 %}
            <div class="verse" id="{{vers3.vers.bookNr.short_name}}{{vers3.vers.chapterNr}}_{{vers3.vers.versNr}}">
                <span class="versenr vers-{{ vers3.vers.versNr }}">
                    <a href="/{{vers3.vers.bookNr.short_name}}{{vers3.vers.chapterNr}},{{vers3.vers.versNr}}">{{vers3.vers}}</a>&nbsp;
                </span>
                {{vers3.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint3 }}
    </p>
</div>
<div id="tr4" class="tr noborder">
    <div id="titleTr4" class="titleTr noborder" _hmnu="4">
        <span class="title" style="cursor: pointer;">{{ translation4 }} ({{ count4 }} Treffer)</span>
        <span class="glyphter" style="margin: 0px 15px 0px 3px; cursor: pointer;">b</span>
        <div id="switchTr4" class="switchTr">
            <div onclick="switchTranslation(3, 0)">Elberfelder 1905</div>
            <div onclick="switchTranslation(3, 1)">Schlachter 2000</div>
            <div onclick="switchTranslation(3, 2)">Luther 1912</div>
            <div onclick="switchTranslation(3, 3)">Neue Genfer Übersetzung</div>
            <div onclick="switchTranslation(3, 4)">Interlinear</div>
        </div>
    </div>
    <div class="content">
        {% for vers4 in verses4 %}
            <div class="verse" id="{{vers4.vers.bookNr.short_name}}{{vers4.vers.chapterNr}}_{{vers4.vers.versNr}}">
                <span class="versenr vers-{{ vers4.vers.versNr }}">
                    <a href="/{{vers4.vers.bookNr.short_name}}{{vers4.vers.chapterNr}},{{vers4.vers.versNr}}">{{vers4.vers}}</a>&nbsp;
                </span>
                {{vers4.versText|correctverstext}}
            </div>
        {% endfor %}
    </div>
    <p class="copyright">
        {{ bible_hint4 }}
    </p>
</div>
{% endautoescape %}


{%if search %}
    <script>
        function shlex(str) {
            var args = str.split(" ");
            var out = [];
            var lookForClose = -1;
            var quoteOpen = false;
            for (var x in args) {
                if (args.hasOwnProperty(x)) {
                    var arg = args[x];
                    var escSeq = false;
                    for (var y in arg) {
                        if (escSeq) {
                            escSeq = false;
                        } else if (arg[y] === "\\") {
                            escSeq = true;
                        } else if (arg[y] === "\"") {
                            quoteOpen = !quoteOpen;
                        }
                    }
                    if (!quoteOpen && lookForClose === -1) {
                        out.push(arg);
                    } else if (quoteOpen && lookForClose === -1) {
                        lookForClose = x;
                    } else if (!quoteOpen && lookForClose >= 0) {
                        var block = args.slice(lookForClose, parseInt(x) + 1).join(" ");
                        var escSeq = false;
                        var quotes = [];
                        for (var y in block) {
                            if (escSeq) {
                                escSeq = false;
                            } else if (block[y] === "\\") {
                                escSeq = true;
                            } else if (block[y] === "\"") {
                                quotes.push(y);
                            }
                        }
                        var parts = [];
                        parts.push(block.substr(0, quotes[0]));
                        parts.push(block.substr(parseInt(quotes[0]) + 1, quotes[1] - (parseInt(quotes[0]) + 1)));
                        parts.push(block.substr(parseInt(quotes[1]) + 1));
                        block = parts.join("");
                        out.push(block);
                        lookForClose = -1;
                    }
                }
            }
            return quoteOpen ? false : out;
        }

        function highLight(substring, block) {
           $(block).find(".search-highlight").each(function () {
              $(this).outerHtml($(this).html());
           });
           // now the block is free from previous highlights

           substrings = shlex(substring.replace(/&quot;/g, '"'));
           for(i = 0; i < substrings.length; ++i) {
             $(block).html($(block).html().replace(new RegExp("\\s" + substrings[i].replace(/"/g, "").replace(/'/g, ""), 'gi'), function(match, text, urlId){
                return ' <span class="search-highlight">' + match.substring(1) + '</span>'
             }));
           }

           // check if it is a strong number
           var regex = new RegExp("([GHgh])([0-9]{1,4})", "g")
           var result = regex.exec(substring);
           if(result != null) {
              $('.strong-' + result[2]).addClass('search-highlight');
              // do matchrowheight for verses
              $('.verse').matchHeight(true);
           }
        }

        highLight("{{ search }}", ".container");

        // insert matchrowheight
        $('.tr').matchHeight(true);
    </script>
{% endif %}