{% autoescape off %}
{% if error %}
    <h2>Fehler!</h2>
    <h3>{{ error }}</h3>
{% else %}
<h2>{{ word }} ({{ strongnr }})</h2>
{% if greek %}<h3>Griechisch: {{ greek }}{% if pronounciation %} ({{ pronounciation }}){% endif %}</h3>{% endif %}
<h4>Stelle: {{vers}}</h4>
{% if grammar %}<b>Grammatik:</b><br/>
<div style="padding-left:20px">
{{grammar}}
</div>
<br/>
{% endif %}
Insgesamt wurden {{count}} Stellen mit {{occurences}} Vorkommnissen gefunden.<br/><br/>

<b>Übersetzungsvarianten:</b><br/>
<div style="padding-left:20px">
{% for k, v in translations %}
	{{k}}: {{v}}<br/>
{% endfor %}
</div>

<br/><br/>

<b><a href="/{{strong}}"><< Stellen anzeigen</a></b>
<!--
<b>Stellen-Liste{%if count > 100%} (nur die ersten 100 Stellen){%endif%}:</b><br/>
   <div style="padding-left:20px">
{% for v in verses %}
	<a href="/{{ v }}">{{ v }}</a>,
{% endfor %}
</div>
-->
{% endif %}
{% endautoescape %}