.copyright {
	color: rgb(172, 168, 154);
	margin-left: 15px;
	font-size: 10pt;
}
.navbar-inverse, .navbar-form, .navbar-collapse {
	/*background-color: white;*/
	/*background-color: #f7f4ea;*/
	/*background-color: rgba(243,239,225,0.7);*/
	/*background-color: rgba(247,244,234,0.5);*/
	/*background-color: rgba(204,201,194,0.7);*/
	background-color: rgba(255,255,255,0.85);
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2N0X56/eUfEBAYYYPz///9mOA/IgAt4rChgAKnEUAEAi9QRxcJ571YAAAAASUVORK5CYII=) repeat;*/
	border-radius:0px;
	border-style: none;
}
.form-control, .btn {
	border-color: #293a4a !important;
	background-color: transparent !important;
}
.navbar-form {
	background-color: transparent !important;
}
.bible1, .bible2, .bible3 {
	border-right: 1px;
}
.container-full {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 30px;
  width: 100%;
}
.table-bible {
	border:none;
	border-collapse: collapse;
}
table.table-bible td, table.table-bible th {
	/*border-left: 1px solid #000;*/
	border-right: 1px solid #000;
	vertical-align: top;
}
table td:last-child, table.table-bible th:last-child {
	border-right: none;
}
th {
    font-size:14pt;
    color:rgb(91, 176, 91);
}
tr.enableHover:hover {
	background-color: rgba(172, 168, 154, .2);
	-o-transition:.8s;
	-ms-transition:.8s;
	-moz-transition:.8s;
	-webkit-transition:.8s;
	transition:.8s;
	transition-delay:.5s;
}
tr.enableHover {
	background-color: transparent;
	-o-transition:.8s;
	-ms-transition:.8s;
	-moz-transition:.8s;
	-webkit-transition:.8s;
	transition:.8s;
	transition-delay:.5s;
}
.verse {
	padding-left:5px;
	border-right: none !important;
	font-size:13pt;
}
.versenr {
	border-right: none !important;
	font-size: 10pt;
	padding-top: 3px;
}
body {
	background-color: #f3efe1;
	padding-top: 70px;
	color: rgb(172, 168, 154);
	color: rgb(132, 128, 114);
}
.navbar-brand {
	padding: 0px;
}
#searchId {
	width: 250px;
}
gr:hover {
    background-color: #dddddd;
    cursor:pointer;
}

a {
    color: black;
}

.search-highlight {
    background-color: rgba(0,200,112,0.1);
}

.navbar-nav {
	margin-left: 120px;
	float:left;
}
.navbar-nav, .navbar-nav>li {
	display: inline;
	float: left;
}

.navbar-form {
	width: 200px;
	float:left;
}



/**************************** sidebarEffects */

.sb-menu {
	position: fixed;
	top: 53px;
	right: 0;
	z-index: 1041;
	width: 300px;
	height: 100%;
	background: rgba(72,167,112,0.9);
	padding: 10px 10px;
	color: rgb(0, 0, 0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	overflow:scroll;
}

.sb-menu {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.sb-menu-open .sb-menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.sb-strong {
	color: rgb(92, 88, 74);
}

.sb-strong:hover {
	background-color: rgba(204,201,194,0.9);
	cursor: pointer;
}

.sb-button {
	position: fixed;
	top: 53px;
	right: 0px;
	z-index: 1040;
	width: 40px;
	height: 40px;
	background: rgba(72,167,112,0.9);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*border-top-left-radius: 40px 40px;
	border-bottom-left-radius: 40px 40px;
	-webkit-border-top-left-radius: 40px 40px;
	-webkit-border-bottom-left-radius: 40px 40px;
	-moz-border-radius-topleft: 40px 40px;
	-moz-border-radius-bottomleft: 40px 40px;*/
	background-image:url('../images/left.png');
	background-repeat:no-repeat;
	background-position: center center;
}

.sb-menu-open .sb-button {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
	background-image:url('../images/right.png');
}

/* Fallback example for browsers that don't support 3D transforms and/or no JS */
.no-csstransforms3d .sb-menu,
.no-js .sb-menu {
	right: -300px;
}

.no-csstransforms3d .sb-menu-open .sb-menu,
.no-js .sb-menu-open .sb-menu {
	right: 0px;
}

/*************************************/



@media(max-width:768px) {
	table.table-bible td, table.table-bible th {
		border-right: none;
		padding: 0px 0px 0px 0px;
	}
	.versenr {
		font-size: 10pt;
		padding-top: 3px !important;
	}
	.verse {
		padding-left: 5px !important;
	}
	.navbar-form {
		margin:0;
	}
	#searchId {
		width: 150px;
	}
	.navbar-form {
		width: 70px;
		float:left;
		margin-left:0px;
		padding-left:0px;
	}
	/*.navbar-brand {*/
		/*padding: 0px !important;*/
	/*}*/
	.sb-menu, .sb-button {
		margin-top:5px;
	    /*visibility: hidden;*/
	}
	/*#searchId {*/
		/*width: 100%;*/
		/*margin: auto;*/
	/*}*/
	/*#searchform {*/
	    /*padding-top:20px;*/
	/*}*/
	/*.navbar-form {*/
		/*width: 80% !important;*/
		/*margin: auto;*/
	/*}*/
}


nav {
    transition: top 0.2s ease-in-out;
}
.nav-up {
    top: -55px;
}

.sb-menu-nav-up {
	top:0px;
}