@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
body {
    background: #7f9b4e url("../images/bg-error.jpeg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #000000;
}
.container > header h1,
.container > header h2 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
}
a {
    color: rgb(72,167,112) !important;
}
.error {
    color: #ce2200;
}
.center {
    position: absolute;
    width: 70%;
    height: 200px;
    top: 200px;
    left: 15%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background:rgba(255,255,255,0.7);
    padding: 60px 60px;
    text-align: center;
}