
/***********************************************************************************************************************
 *                                                                                              HTML-TAGS
 ***********************************************************************************************************************/

abbr {
    font-size: 100%;
}

body {
    background-color: #5BB05B;
    /*background-color: #f3efe1;*/
    color: rgb(132, 128, 114);
    overflow: hidden;
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

a, a:visited {
    color: #5BB05B;
    color: rgb(69, 65, 52);
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:hover, a:visited {
    color: #5BB05B;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 1px rgba(91,176,91,0.3);
}


input[type=text],
input[type=email],
input[type=date] {
	border: 1px solid #ddd;
	padding: 7px 10px;
	/*font-weight: bold;*/
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    font-size: 120%;
	color: #666;
	width: 300px;
	/*background: #ffffff;*/
	/*background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 7%, #f7f7f7 22%, #ffffff 100%);*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#f7f7f7), color-stop(22%,#f7f7f7), color-stop(100%,#ffffff));*/
	/*background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);*/
	/*background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);*/
	/*background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);*/
	/*background: linear-gradient(top, #ffffff 0%,#f7f7f7 7%,#f7f7f7 22%,#ffffff 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(255,255,255,0.7), 1px 1px 2px rgba(0,0,0,0.1) inset;
}

input:focus {
	/*background: rgba(155, 255, 155, 0.05);*/
    border: 1px solid #aaa;
	outline: none;
}

/***********************************************************************************************************************
 *                                                                                              NAV-BAR
 ***********************************************************************************************************************/


.nav {
    background-color: rgb(255,255,255);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 53px;
    /*float: left;*/
}

.nav-ele {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

#center-div {
    width: 0px;
    padding-top: 53px;
}

.navbar-brand {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}

.search {
    background-image: url("../images/anysearch-icon.png");
    background-repeat: no-repeat;
    background-position: 300px;
}

.navbuttons {
    font-size: 130%;
}

.navbuttons > a:hover {
    text-shadow: 3px 3px 3px rgba(91,176,91,0.3);
}



/***********************************************************************************************************************
 *                                                                                              CONTENT
 ***********************************************************************************************************************/

.container {
    position: fixed;
    left: 0;
    top: 53px;
    /*width: 100%;*/
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,.95);
    background-color: #f3efe1;
    border: 10px solid #5BB05B;
    padding-top: 10px;
}

.tr {
    position: relative;
    width: 24.5%;
    float: left;
    border-right: 1px solid #aeaeae;
}

.titleTr {
    position: fixed;
    text-align: right;
    height: 23px;
    width: 24.5%;
    float: left;
    top: 63px;
    color: #5BB05B;
    background-image: url("../images/navbg.png");
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
}

.title {
    margin-right: 15px;
}

.versenr {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.3em;
}

.content {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.sb-strong {
    color: rgb(80, 76, 61);
    cursor: pointer;
}

.sb-strong:hover {
    color: #5BB05B;
}

.verse {
    padding-left: 15px;
    text-indent: -15px;
    display: block;
    line-height: 131%;
    font-size: 130%;
    padding-bottom: 5px;
}

.copyright {
	color: rgb(172, 168, 154);
	margin-left: 15px;
	font-size: 9pt;
    position: relative;
    margin-bottom: 150px;
}





/***********************************************************************************************************************
 *                                                                                              VERS LIST
 ***********************************************************************************************************************/

.versList {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #5BB05B;
    /*height: 35px;*/
    border-left: 10px solid #5BB05B;
    /*border-right: 10px solid #5BB05B;*/
    overflow: hidden;
}

.versListItems {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    /*padding-left: 3px;*/
    padding-top: 3px;
    height: 23px;
    width: 80%;
    white-space: nowrap;
    overflow: auto;
    float: left;
}

.versListItem {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    color: #5BB05B;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    display: inline;
}

.versListTitle {
    right: 20px;
    margin: 0;
    position: absolute;
    width: 15% !important;
    top: 3px;
    padding: 3px 10px !important;
}

.remove-from-verslist {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #5BB05B;
}

.versListRemove, .versListTitleCombo {
    position: absolute;
    right: 40px;
    top: 3px;
    color: #5BB05B;
    cursor: pointer;
    font-size: 170%;
}

.versListRemove {
    right: 20px;
}

.versListRemove:hover {
    color: red;
}




/***********************************************************************************************************************
 *                                                                                              PROPERTIES
 ***********************************************************************************************************************/

.noborder {
    border: none;
}

.glyphter {
    font-family: "Glyphter";
}

.search-highlight {
    background-color: rgba(0,200,112,0.1);
    background-color: rgba(255, 255, 0, 0.50);
}

.error {
    color: #ce2200;
}

.logogreen {
    color: #5BB05B;
}

.small {
    font-size: 60% !important;
}

.pad-left {
    padding-left: 2em;
}

@media (max-width: 1024px) {
    .hide-xga {
        visibility: hidden;
    }
}

@media (max-width: 640px) {
    .hide-vga {
        visibility: hidden;
    }
}

@media (max-width: 320px) {
    .hide-small {
        visibility: hidden;
    }
}





/***********************************************************************************************************************
 *                                                                                              INFO SIDEBAR
 ***********************************************************************************************************************/


#sb-slidebox {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
}

#sb-button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 53px;
    width: 23px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
    padding: 0px 16px;
    padding-left: 9px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    font-family: "Glyphter";
    font-size: 350%;
    font-weight: bold;
    line-height: normal;
    float: left;
    background-color: transparent;
    color: #5BB05B;
    z-index: 2;
    border: 1px solid #5BB05B;
    border-radius: 14px 0 0 14px;
}

.sb-menu {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3;
	width: 100%;
	height: 100%;
    border: 5px solid #5BB05B;
    background-color: #f3efe1;
	color: rgb(0, 0, 0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	overflow:scroll;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
    font-size: 120%;
}

#info-content {
    margin-left: 10px;
    margin-right: 10px;
}

.sb-menu-open .sb-menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.sb-menu-open .sb-button {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
	background-image:url('../images/right.png');
}

/* Fallback example for browsers that don't support 3D transforms and/or no JS */
.no-csstransforms3d .sb-menu,
.no-js .sb-menu {
	right: -300px;
}

.no-csstransforms3d .sb-menu-open .sb-menu,
.no-js .sb-menu-open .sb-menu {
	right: 0px;
}