
/***********************************************************************************************************************
 *                                                                                              HTML-TAGS
 ***********************************************************************************************************************/

abbr {
    font-size: 100%;
}

body {
    /*background-color: #5BB05B;*/
    background-color: #f3efe1;
    /*color: rgb(132, 128, 114);*/
    color: #504C3D;
    /*overflow: hidden;*/
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    /*font-family: "Lato", "arial", "sans-serif";
    font-size: 12px;*/
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:hover, a:visited {
    color: #5BB05B;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 1px rgba(91,176,91,0.3);
}


input[type=text],
input[type=email],
input[type=date] {
	border: 1px solid #ddd;
	padding: 7px 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    font-size: 120%;
	color: #666;
	width: 300px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(255,255,255,0.7), 1px 1px 2px rgba(0,0,0,0.1) inset;
}

input:focus {
    border: 1px solid #aaa;
	outline: none;
}

/***********************************************************************************************************************
 *                                                                                              NAV-BAR
 ***********************************************************************************************************************/


.nav {
    background-color: rgb(255,255,255);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 53px;
    /*float: left;*/
    z-index: 1;
    border-bottom: 5px solid #5BB05B;
}

.nav-ele {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

#center-div {
    width: 0px;
    padding-top: 53px;
}

.navbar-brand {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
}

.search {
    background-image: url("../images/anysearch-icon.png");
    background-repeat: no-repeat;
    background-position: 300px;
}

.navbuttons {
    font-size: 130%;
}

.navbuttons > a:hover {
    text-shadow: 3px 3px 3px rgba(91,176,91,0.3);
}



/***********************************************************************************************************************
 *                                                                                              CONTENT
 ***********************************************************************************************************************/

.container {
    /*position: fixed;*/
    left: 0;
    margin-top: 63px;
    /*width: 100%;*/
    height: auto;
    overflow: hidden;
    background-color: rgba(255,255,255,.95);
    background-color: #f3efe1;
    /*border-left: 10px solid #5BB05B;*/
    /*border-right: 10px solid #5BB05B;*/
    /*border-bottom: 10px solid #5BB05B;*/
    /*border: 10px solid #5BB05B;*/
    padding-top: 20px;
    width: 100%;
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
}

.tr {
    position: relative;
    width: 24.5%;
    float: left;
    border-right: 1px solid #aeaeae;
}

.titleTr {
    position: fixed;
    text-align: right;
    height: 23px;
    width: 24.5%;
    float: left;
    top: 58px;
    color: #5BB05B;
    background-image: url("../images/navbg.png");
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
}

.titleTr .title {
    margin-top: 5px;
}

.switchTr {
    display: none;
    background-color: #f3efe1;
    position: absolute;
    top: 6px;
    margin-top: -1px;
    margin-right: 33px;
    text-align: right;
    right: 3px;
    padding: 0px 3px 3px 3px;
    border:1px solid rgba(155,155,155,0.75);
}

.switchTr > div {
    color: #5BB05B;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.switchTr > div:hover {
    text-shadow: 1px 1px 1px rgba(91,176,91,0.3);
    background-color: #e3dfd1;
}

.versenr {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.3em;
}

.content {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.sb-strong {
    /*color: #0f0b07;*/
    border-bottom: 1px dotted #bbb;
    cursor: pointer;
    margin: 0px 1px 0px 1px;
}

.sb-strong:hover {
    color: #5BB05B;
}

.verse {
    padding-left: 15px;
    text-indent: -20px;
    display: block;
    line-height: 131%;
    font-size: 130%;
    padding-bottom: 5px;
    z-index: 800;
}

.copyright {
	color: rgb(172, 168, 154);
	margin-left: 15px;
	font-size: 9pt;
    position: relative;
    margin-bottom: 150px;
}





/***********************************************************************************************************************
 *                                                                                              VERS LIST
 ***********************************************************************************************************************/

.versList {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #5BB05B;
    /*height: 35px;*/
    border-left: 10px solid #5BB05B;
    /*border-right: 10px solid #5BB05B;*/
    overflow: hidden;
}

.versListItems {
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    /*padding-left: 3px;*/
    padding-top: 3px;
    height: 23px;
    width: 80%;
    white-space: nowrap;
    overflow: auto;
    float: left;
}

.versListItem {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    color: #5BB05B;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    display: inline;
}

.versListTitle {
    right: 20px;
    margin: 0;
    position: absolute;
    width: 15% !important;
    top: 3px;
    padding: 3px 10px !important;
}

.remove-from-verslist {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #5BB05B;
}

.versListRemove, .versListTitleCombo {
    position: absolute;
    right: 40px;
    top: 3px;
    color: #5BB05B;
    cursor: pointer;
    font-size: 170%;
}

.versListRemove {
    right: 20px;
}

.versListRemove:hover {
    color: red;
}

.add-to-verslist, .remove-from-verslist, #prev_chapter, #next_chapter, .tooltip {
    cursor: pointer;
}




/***********************************************************************************************************************
 *                                                                                              PROPERTIES
 ***********************************************************************************************************************/

.noborder {
    border: none;
}

.glyphter {
    font-family: "Glyphter";
}

.search-highlight {
    background-color: rgba(0,200,112,0.1);
    background-color: rgba(255, 255, 0, 0.50);
}

.error {
    color: #ce2200;
}

.logogreen {
    color: #5BB05B;
}

.small {
    font-size: 60% !important;
}

.pad-left {
    padding-left: 2em;
}



/***********************************************************************************************************************
 *                                                                                              USER FORMS
 ***********************************************************************************************************************/


.form-4 {
    /* Size and position */
    width: 300px;
    /*margin: 60px 400px 30px;*/
    top: 150px;
    left: 20%;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #000;
    /*text-shadow: 0 2px 1px rgba(0,0,0,0.6);*/
    background-color: rgba(255,255,255,.6);
}

h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.form_input {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid rgb(91,176,91); /* Fallback */
    border: 1px solid rgba(91,176,91,.8) !important;
    background: rgba(255,255,255,0.45);
    border-radius: 2px;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #000;
    font-size: 13px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.form_input::-webkit-input-placeholder {
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form_input:-moz-placeholder {
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form_input:-ms-input-placeholder {
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form_input:hover {
    border-color: #333;
}

.form_input:focus,
input[type=submit]:focus {
    box-shadow:
        0 1px 0 rgba(255,255,255,0.2),
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .form_input:focus {
    outline: 1px solid white;
}

input[type=submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;

    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(91,176,91,0.5), rgba(52,147,92,0.7));
    background: -ms-linear-gradient(rgba(91,176,91,0.5), rgba(52,147,92,0.7));
    background: -o-linear-gradient(rgba(91,176,91,0.5), rgba(52,147,92,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(91,176,91,0.5)), to(rgba(52,147,92,0.7)));
    background: -webkit-linear-gradient(rgba(91,176,91,0.5), rgba(52,147,92,0.7));
    background: linear-gradient(rgba(91,176,91,0.5), rgba(52,147,92,0.7));
    border-radius: 5px;
    border: 1px solid rgb(52,147,92);
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

input[type=submit]:hover {
    box-shadow:
        inset 0 1px rgba(255,255,255,0.2),
        inset 0 20px 30px rgba(52,147,92,0.5);
}

/* Fallback */
.no-boxshadow input[type=submit]:hover {
    background: #594642;
}

label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

label:hover ~ input {
    border-color: #333;
}

.no-placeholder label {
    display: block;
}

.error {
    color: #ce2200;
}




/***********************************************************************************************************************
 *                                                                                              INFO SIDEBAR
 ***********************************************************************************************************************/

/*
#sb-slidebox {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    /*z-index: 4;* /
}*/

/*
#sb-button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 33px;
    width: 23px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
    padding: 10px 16px;
    padding-left: 9px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    font-family: "Glyphter";
    font-size: 250%;
    font-weight: bold;
    line-height: normal;
    float: left;
    background-color: transparent;
    color: #5BB05B;
    z-index: 2;
    border: 1px solid #5BB05B;
    border-radius: 14px 0 0 14px;
}*/
/*
.sb-menu {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 3;
	width: 100%;
	height: 100%;
    border: 5px solid #5BB05B;
    background-color: #f3efe1;
	color: rgb(0, 0, 0);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	overflow:scroll;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
    font-size: 110%;
}*/




#sb-slidebox {
    position: fixed;
    right: -300px;
    top: 0px;
    /*width: 25%;*/
    height: 100%;
    width: 300px;
    /*max-width: 400px;*/
    z-index: 4;
    clear: none;
    float: left;
    transition: 0.3s ease-in-out;
}

#sb-button {
    float: left;
    clear: none;
    font-family: "Glyphter";
    font-size: 250%;
    padding: 10px 16px;
    padding-left: 9px;
    cursor: pointer;
    width: 23px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #5BB05B;
    z-index: 2;
    border: 1px solid #5BB05B;
    border-radius: 14px 0 0 14px;
    margin-left: -50px;
}

.sb-menu {
    left: 0;
    z-index: 3;
    height: 100%;
    border: 5px solid #5BB05B;
    background-color: #f3efe1;
    color: rgb(0, 0, 0);
    overflow: scroll;
    font-size: 110%;
}

#info-content {
    margin-left: 10px;
    margin-right: 10px;
}/*

.sb-menu-open .sb-menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.sb-menu-open .sb-button {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}*/

/* Fallback example for browsers that don't support 3D transforms and/or no JS */
.no-csstransforms3d .sb-menu,
.no-js .sb-menu {
	right: -300px;
}

.no-csstransforms3d .sb-menu-open .sb-menu,
.no-js .sb-menu-open .sb-menu {
	right: 0px;
}



/***********************************************************************************************************************
 *                                                                                              INTRO BALLOONS
 ***********************************************************************************************************************/
#info-balloon-search {
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 11;
    max-width: 30%;
}
#info-balloon-sidebar {
    position: fixed;
    right: 0px;
    top: 70px;
    z-index: 11;
    max-width: 30%;
}
#info-balloon-translations {
    position: fixed;
    left: 30%;
    top: 60px;
    z-index: 11;
    max-width: 30%;
}
.transparent {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(243,239,225,.7);
    z-index: 10;
}






@media (max-width: 1280px) {
    .hide-xga {
        visibility: hidden;
        height:0px;width:0px;
    }
    .hide-xga .verse, .hide-xga .content, .hide-xga .copyright {
        height:0px;width:0px; padding:0; margin:0;
    }
    .tr {
        width:32%;
    }
    .titleTr {
        width:31%;
    }

    #tr3 {
        border-right: none !important;
    }
}

@media (max-width: 1024px) {
    .hide-vga {
        visibility: hidden;
        height:0px;width:0px;
        padding: 0; margin: 0;
        display: none;
    }
    #searchId {
        width:250px;
    }
    #sb-slidebox {
        top:63px !important;
    }
    #sb-button {
        background-color:rgba(255,255,255,.7) !important;
    }
    .hide-vga .verse, .hide-vga .content, .hide-vga .copyright {
        height:0px;width:0px; padding:0; margin:0;
    }
    .tr {
        width:49%;
    }
    .titleTr {
        width:48%;
    }

    #tr2, #tr3 {
        border-right: none !important;
    }
}


@media (max-width: 640px) {
    .hide-small {
        visibility: hidden;
        height:0px;width:0px;
        padding: 0; margin: 0;
        display: none;
    }
    .hide-small .verse, .hide-small .content, .hide-small .copyright {
        height:0px;width:0px; padding:0; margin:0;
    }
    .tr {
        width:99%;
    }
    .titleTr {
        width:99%;
        /*background: none;*/
    }

    #sb-button {
        /*padding-top:7px;*/
        /*top: 100%;*/
        border-radius: 14px 14px 0 0;
        /*left: 50% !important;*/
        /*right: 0;*/
        /*top: -50px;*/
        /*margin-left: -12px;*/
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #sb-menu {
        /*margin-top: 53px !important;*/
    }

    #sb-slidebox {
        top: 100% !important;
        left: 0;
        width: 100%;
        right: 0;
        height: 50%;
        margin-top: -53px;
    }

    #sb-slidebox.sb-menu-open {
        top: 50% !important;
    }

    .search-nav-ele {
        width: 50%;
        padding: 0;
        /*vertical-align: top;*/
    }

    #searchId {
        width: 100%;
    }

    .nav {
        height: 38px;
    }

    .navigator-nav-ele {
        padding-left: 30px;
    }

    #center-div {
        /*display: none;*/
        padding-top: 38px;
    }

    .container {
        margin-top: 48px;
        margin-bottom: 100%;
    }

    .titleTr {
        top: 43px;
    }

    #tr1, #tr2, #tr3 {
        border-right: none !important;
    }
}

@media (min-width: 640px) {
    #sb-slidebox.sb-menu-open {
        right: 0px;
    }
}